// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.fingerprint-content {
  --background: var(--page-background);
  --padding-start: 10vw;
  --padding-end: 10vw;
  --padding-top: 40vh;
  --padding-bottom: var(--page-margin);

  .content {
    justify-content: center;
    text-align: center;
    color: var(--ion-color-primary);
    h4 {
      line-height: 14px;
    }
    p {
      font-size: 12px;
      margin-top: 30px;
    }
    ion-button {
      width: 150px;
    }
    .images {
      width: 100%;
      margin-top: 30px;
      justify-content: center;
      text-align: center;

      .img {
        margin: 0 auto;
        border-radius: 50%;
        border: solid 1px #aaa;
        width: 60px;
        height: 65px;
        padding: 8px;
      }
    }
  }
}
