<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>ยืนยันรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="confirm-content">

  <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-list class="inputs-list" lines="full">
      <div class="text1">ป้อนรหัสยืนยันที่ได้รับทาง sms รหัสอ้างอิง {{code}}</div>
      <ion-item class="input-item">
        <ion-input type="tel" formControlName="tel">
        </ion-input>
      </ion-item>
      <div class="hide_line">
      </div>
    </ion-list>
    <p>
      ไม่ได้รับรหัส ? <a href="javascript:void(0)" (click)="send_agen()">
        ส่งรหัสให้ฉันอีกครั้ง
      </a>
    </p>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit" expand="round" [disabled]="!signupForm.valid">
        ตรวจสอบข้อมูล</ion-button>
    </ion-row>
  </form>

  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>