<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/Intersection 6.png">
      </ion-avatar>
      <ion-label>
        <h3 class="order_id">ORDER #1823</h3>
        <span class="wait_send"> &#9679; รอการจัดส่ง</span>
        <h2>คอนกรีต CPS Super Plus</h2>
        <h3 class="number">จำนวน 8 คิว ยอดรวม 2,250.50 บาท</h3>
        <p>สั่งซื้อเมื่อ 18/03/2020 16:35</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>