<ion-header>
  <ion-toolbar color="primary">

    <ion-title>แชท</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="chat">
    <div class="chat-content">
      <span class="time-show">พ. 22/01</span>
      <div class="item i-left">
        <img class="avatar" src="../../assets/images/186313.png">
        <div class="text-content">
          สวัสดีครับ มีคำถามสอบถามเข้ามาได้เลยนะครับ ทางเรายินดีให้บริการสำหรับลูกค้าทุกท่าน
        </div>
        <span class="time">13:27</span>
      </div>
      <div class="item i-right">

        <div class="text-content">
          ราคาคอนกรีตมีแบบไหนบ้างค่ะ หากต้องการส มีส่วนลดพิเศษจากราคาปกติหรือเปล่าค่ะ
        </div>
        <span class="time">13:27</span>
      </div>

      <div class="item i-left">
        <img class="avatar" src="../../assets/images/186313.png">
        <div class="text-content">
          สวัสดีครับ มีคำถามสอบถามเข้ามาได้เลยนะครับ ทางเรายินดีให้บริการสำหรับลูกค้าทุกท่าน
        </div>
        <span class="time">13:27</span>
      </div>
      <div class="item i-left">
        <img class="avatar" src="../../assets/images/186313.png">
        <div class="text-content">
          สวัสดีครับ มีคำถามสอบถามเข้ามาได้เลยนะครับ ทางเรายินดีให้บริการสำหรับลูกค้าทุกท่าน
        </div>
        <span class="time">13:27</span>
      </div>
      <div class="item i-left">
        <img class="avatar" src="../../assets/images/186313.png">
        <div class="text-content">
          สวัสดีครับ มีคำถามสอบถามเข้ามาได้เลยนะครับ ทางเรายินดีให้บริการสำหรับลูกค้าทุกท่าน
        </div>
        <span class="time">13:27</span>
      </div>
      <div class="item i-right">

        <div class="text-content">
          ราคาคอนกรีตมีแบบไหนบ้างค่ะ หากต้องการส มีส่วนลดพิเศษจากราคาปกติหรือเปล่าค่ะ
        </div>
        <span class="time">13:27</span>
      </div>
      <span class="time-show">พ. 22/01</span>
      <div class="item i-right">

        <div class="text-content">
          ราคาคอนกรีตมีแบบไหนบ้างค่ะ หากต้องการส มีส่วนลดพิเศษจากราคาปกติหรือเปล่าค่ะ
        </div>
        <span class="time">13:27</span>
      </div>
      <div class="buttombox">

      </div>

    </div>
  </div>
  <div class="chat-input">
    <ion-item>
      <ion-label>
        <ion-icon name="image"></ion-icon>
      </ion-label>
      <ion-input placeholder="พิมพ์ข้อความที่นี่..."></ion-input>
      <ion-label>
        <ion-icon name="send"></ion-icon>
      </ion-label>
    </ion-item>

  </div>

</ion-content>