<ion-content>
  <div class="header">
    <div class="connent">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <div class="content">
        <h6>สุรเดช</h6>

        <img src="../../assets/images/img_avatar@2x.png">
        <div class="pin">
          ใส่รหัส PIN
        </div>
        <div class="cicles">
          <div class="cicle w"></div>
          <div class="cicle w"></div>
          <div class="cicle"></div>
          <div class="cicle"></div>
          <div class="cicle"></div>
          <div class="cicle"></div>
        </div>
        <a class="fogotpin">ลืมรหัส PIN ></a>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="button1">
      1
      <!-- <ion-button fill="outline" expand="full" color="light">1</ion-button> -->
    </div>
    <div class="button1">
      2
    </div>
    <div class="button1">
      3
    </div>
    <div class="button1">
      4
      <!-- <ion-button fill="outline" expand="full" color="light">1</ion-button> -->
    </div>
    <div class="button1">
     5
    </div>
    <div class="button1">
    6
    </div>
    <div class="button1">
      7
      <!-- <ion-button fill="outline" expand="full" color="light">1</ion-button> -->
    </div>
    <div class="button1">
     8
    </div>
    <div class="button1">
    9
    </div>
    <div class="button1">
    .
      <!-- <ion-button fill="outline" expand="full" color="light">1</ion-button> -->
    </div>
    <div class="button1">
     0
    </div>
    <div class="button1">
    .
    </div>


  </div>
</ion-content>