<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>ลืมรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">

  <form [formGroup]="signupForm" (ngSubmit)="send_data()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">ป้อนเบอร์โทรศัพท์ของท่าน</ion-label>
        <ion-input type="tel" formControlName="tel"  clearInput autocapitalize="off" inputmode="tel">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit"  expand="round" [disabled]="!signupForm.valid">ส่งข้อมูล</ion-button>
    </ion-row>
  </form>

  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>