<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle success"></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle "></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle "></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle "></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle "></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
       <div class="clicle "></div>
      </ion-avatar>
      <ion-label>
        <h2 class="title">คำสั่งซื้อ #2113 มีผู้เสนอราคาใหม่</h2>
        <div class="price">ราคาต่ำสุดขณะนี้ 1,250.75 บาท</div>
        <div class="time">10 นาที ที่ผ่านมา</div>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>